.footer__column-link {
  display:inline;
  margin:0 0 0 18px;
}

.footer__column-link:first-of-type {
  margin:0;
}

@media screen and (min-width:300px) and (max-width:768px)  {
.footer__column-link {
    display:block;
    margin:32px 0 0 18px;
        }
.footer__column-link:first-of-type {
  margin:0 0 0 18px;
        }
      }
