.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 0;
  margin: 0 0 19px 0;
  width: 484px;
}

.place__paragraph:nth-child(2) {
  margin: 0;
}

.place__paragraph:only-child {
  margin:0;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
  .place__paragraph {
    width: 456px;
    margin: 0 0 27px 0;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .place__paragraph {
    width: 352px;
    margin: 0 0 25px 0;
    font-size: 16px;
  }
}

@media screen and (max-width:767px) {
  .place__paragraph {
    width: 288px;
    margin: 0 0 25px 0;
    font-size: 16px;
  }
}
